body { font-size: 80%; font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif; }
ul#tabs { list-style-type: none; margin: 30px 0 0 0; padding: 0 0 0.3em 0; }
ul#tabs li { display: inline; }
ul#tabs li a { color: #42454a; background-color: #dedbde; border: 1px solid #c9c3ba; border-bottom: none; padding: 0.3em; text-decoration: none; }
ul#tabs li a:hover { background-color: #f1f0ee; }
ul#tabs li a.selected { color: #000; background-color: #f1f0ee; font-weight: bold; padding: 0.7em 0.3em 0.38em 0.3em; }
div.tabContent { border: 1px solid #c9c3ba; padding: 0.5em; background-color: #f1f0ee; }
div.tabContent.hide { display: none; }



/*
bg: #FDEBDC
bg1: #FFD6AF
bg2: #FFAB59
orange: #FF7F00
brown: #913D00
lt. brown: #C4884F
*/

.bbq {
    margin-bottom: 1em;
}

.bbq-content {
    border-left: 1px solid #913D00;
    border-right: 1px solid #913D00;
    padding: 8px;
    margin: 0;
    float: left;
    width: 682px;
    height: 302px;
}

.bbq-item h1 {
    margin: 0;
    font-size: 180%;
}

.bbq-item p {
    font-size: 150%;
    margin: 5px 0 0;
}

.bbq-item img {
    border: 1px solid #913D00;
    float: right;
    margin-left: 10px;
}

a.bbq-current {
    font-weight: 700;
    text-decoration: none;
}

.bbq-nav {
    padding: 0.3em;
    color: #C4884F;
    border: 1px solid #C4884F;
    background: #FFD6AF;
    clear: both;
    text-align: center;
}

.bbq-nav-top {
    margin-bottom: 0;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

.bbq-nav-bottom {
    margin-top: 0;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

#page {
    width: 700px;
}

